/*Resetando a pagina*/
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    /*Old font: font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Conteudo comum*/
header{
    background-color: black;
    
    text-align: center;
    color: white;

    /*Adjusting padding*/
    /*Using rem (Responsive)*/
    /*The rem is good to header*/
    /*The rem has a padding that is fixed*/
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.logo{
    /*It's important to set margin 0 here when using rem*/
    margin: 0px;
}
h1.logo{
    /*The rem is good to font-size*/
    /*The font receives a fixed dimension*/
    font-size: 5rem;
}

h2.logo{
    font-size: 2rem;
}


/*Conteudo principal*/
#texto_principal{
    padding: 2vh 5vw;
}

#grafico{
    display: grid;
    grid-template-columns: 1fr 7fr;
    gap: 5vw;
    height: 65vh;
    color: white;
    background-color: rgb(10, 10, 10);
    padding: 5vh 5vw;
}


#linha_do_tempo{
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    justify-items: center;
    padding-top: 5vh;
}


.node{
    display: grid;
    text-decoration: none;
    color: white;
    align-content: center;
    border: white 2px solid;
    border-radius: 100%;
    height: 7vw;
    width: 7vw;
    grid-column-start: 1;
    font-weight: 800;
    transition: 1s;
    font-size: 2vw;
    
}

.node:hover{
    background-color: rgba(65, 65, 65, 0.5);
    padding: 5%;
    font-size: 105%;
    color: white;
    text-shadow: 2px 2px 4px black;
    box-shadow: inset 2px 2px 4px black;
    
}

#linha_do_tempo .active{
    background-color: rgba(65, 65, 65, 0.5);
    padding: 9%;
    font-size: 120%;
    color: white;
    text-shadow: 2px 2px 4px black;
    box-shadow: inset 2px 2px 4px black;

}

.line{
    border: white 1px solid;
    height: 5vh;
    width: 0px;
    grid-column-start: 1;
}

.info_block{
    display: none;
    transition: 1s;
}

.info_block.foco{
    display: block;
    position: relative;
}


/*Conteudo comum*/
a.contato:link, a.contato:visited{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    border-radius: 5px;
  
    /*To generate a block on it*/
    display: inline-block;
    margin: 25px;
}

a.contato:hover, a.contato:active{
    background-color: rgb(89, 231, 120);
}

footer{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
}


