*{
    /*Remove white margin around the page*/
    margin: 0;
}

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: black;
    
    text-align: center;
    color: white;

    /*Adjusting padding*/
    /*Using rem (Responsive)*/
    /*The rem is good to header*/
    /*The rem has a padding that is fixed*/
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.list-menu{
    margin-left: -60px;
    margin-bottom: 50px;
}

.menu-item{
    list-style-type: none;
    margin-left: 50px;
    display: inline;
}

.menu-item a {
    text-decoration: none;
    color: #fff;
    font-family: oswald;
    text-transform: uppercase;
    padding: 4px 8px;
    width: 20% !important;
    font-size: 20px;
    margin-top: 10px;
}

.menu-item a:hover{
    background: #FF5722;
    border-radius: 3px;
}

.logo{
    /*It's important to set margin 0 here when using rem*/
    margin: 0px;
}
h1.logo{
    /*The rem is good to font-size*/
    /*The font receives a fixed dimension*/
    font-size: 5rem;
}

.section-title{
    margin-top: 20px;
}

.section-a{
    padding: 5vh 5vw;
    text-align: justify;
}

.section-b{
    background-color: rgb(10, 10, 10);
    text-align: center;
    padding: 80px;
}

a.contato:link, a.contato:visited{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    border-radius: 5px;
  
    /*To generate a block on it*/
    display: inline-block;
    margin: 25px;
}

a.contato:hover, a.contato:active{
    background-color: rgb(89, 231, 120);
}

footer{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
}